<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/common/adminlayout :: layout(~{::head} ,~{::main} ) }">

<head>
    <title>방잇</title>
    <link rel="stylesheet" href="/css/admin/employee/employee.css">
    <script src="/js/admin/employee/employees.js" defer></script> 
</head>

<body>
    <main class="cmindex">
        <th:block th:replace="~{/views/admin/employee/cmsubnav}" />

        <div>
        	<section class="dash title">
        	    <h2>구성원 목록</h2>
        	    
        	    <button class="cmbutton1" id="create-employee">구성원 추가<i class="fa-solid fa-plus"></i></button>
        	
        	</section>
        
        
            <section class="dash employee-list-wrap">
            
                <div class="cmlist">
	                  <ul class="employee-list" th:if="${employees}">
	                    <li class="employee-list-header">
	                        <span>이름</span>
	                        <span>직급</span>
	                        <span>이메일</span>
	                        <span>휴대폰</span>
	                        <span>생일</span>
	                        <span>입사일</span>
	                        <span>유형</span>
	                    </li>
	                    <li th:each="employee : ${employees}" class="employee-list-item">
	                        <span th:text="${employee.fullName}"></span>
	                        <span th:text="${employee.levelName}"></span>
	                        <span th:text="${employee.email}"></span>
	                        <span th:text="${employee.cellPhone}"></span>
	                        <span th:text="${employee.birthdayCalendarType}"></span>
	                        <span th:text="${employee.hiredDate}"></span>
	                        <span th:text="${employee.employmentTypeName}"></span>
	                    </li>
	                </ul>
                
                
                </div>
          
            </section>
        </div>
    </main>
</body>
</html>