<html th:fragment="chatbot">

<body>
	<div id="chatbot-container">
		<div id="chatbot-header">
			방잇봇
			<span id="connection-status"></span>
		</div>
		<div id="chatbot-body">
			<div id="chatbot-messages">
				<div class="message bot">
					<div class="profile">
						<img src="/images/bangitbot.png" alt="Bot Profile">
					</div>
					<div class="bubble">
						무엇을 도와드릴까요?
					</div>
				</div>
			</div>
			<div id="chatbot-categories"></div>
			<div id="chatbot-subcategories"></div>
		</div>
		<div id="chatbot-footer">
			<input type="text" id="chatbot-input" placeholder="메시지를 입력하세요..." />
			<button id="chatbot-send">전송</button>
		</div>
	</div>
	<div class="chatbot-btn-background">
		<button class="chatbot-toggle" id="chatbot-toggle">
			<i class="fas fa-comment-dots fa-flip-horizontal"></i>
		</button>
	</div>
</body>

</html>