<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/common/chatbot.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/common/chatbot.js"></script>
</head>
<body>
    <div id="chatbot-container">
        <div id="chatbot-header">
            방잇봇
            <span id="connection-status"></span>
        </div>
        <div id="chatbot-body">
            <div id="chatbot-messages">
                <div class="message bot">
                    <div class="profile">
                        <img src="/images/bangitbot.png" alt="Bot Profile">
                    </div>
                    <div class="bubble">
                        무엇을 도와드릴까요?
                    </div>
                </div>
            </div>
            <div id="chatbot-categories"></div>
            <div id="chatbot-subcategories"></div>
        </div>
        <div id="chatbot-footer">
            <input type="text" id="chatbot-input" placeholder="메시지를 입력하세요..." />
            <button id="chatbot-send">전송</button>
        </div>
    </div>
    <div class="chatbot-btn-background">
        <button class="chatbot-toggle" id="chatbot-toggle">
            <i class="fas fa-comment-dots fa-flip-horizontal"></i>
        </button>
    </div>
</body>
</html>