
<header>

	<div class="main-nav-wrap" >
	
		<div class="logo">
			<h1><a href="/admin"><img alt="방_it" src="/images/logo.png"></a></h1>
		
		</div>

		<div class="Search">
			<form action="">
				<label id="Search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
				<input id="Search-bar">
			
			</form>
		
		</div>

		
		
		<div class="user-information">
		
			<img alt="" src="https://www.filmmakers.co.kr/files/attach/images/2021/05/25/59a2cc7dfc00d60f2697f8d739ccfea2.jpg">
			<p>이유진</p>
			
		
		</div>
		

		<div class="nav-wrap">
			<nav>
				<ul>
					<li><a href="#"><i class="fa-solid fa-user-tie"></i><span>직원관리</span></a></li>
					<li><a href="/admin/user"><i class="fa-solid fa-users"></i><span>사용자관리</span></a></li>
					<li><a href="/admin/partner"><i class="fa-solid fa-users-gear"></i><span>판매자관리</span></a></li>
					<li><a href="/admin/mail"><i class="fa-solid fa-envelope"></i><span>메일</span></a></li>
					<li><a href="#"><i class="fa-brands fa-google-drive"></i><span>드라이브</span></a></li>
					<li><a href="#"><i class="fa-solid fa-file-invoice-dollar"></i><span>통합매출</span></a></li>
				</ul>
			</nav>

			<ul class="gnb">
				<li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>로그아웃</a></li>
				<li><a href="/"><i class="fa-solid fa-house"></i>홈페이지</a></li>
			</ul>

		</div>
		
		
		
		






	</div>

</header>