
<header>

	<div class="main-nav-wrap">
	
		<div class="logo">
			<h1><a href="#"><img alt="방_it" src="/images/logo2.png"></a></h1>
		
		</div>

		<div class="Search">
			<form action="">
				<label id="Search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
				<input id="Search-bar">
			
			</form>
		
		</div>

		
		
		<div class="user-information"></div>

		

		<div>
			<nav>
				<ul>
					<li><a href="#"></a></li>
				</ul>
			</nav>


		</div>
		
		
		
		<ul class="gnb">
			<li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>로그아웃</a></li>
			<li><a href="#"><i class="fa-solid fa-house"></i>홈페이지</a></li>
		</ul>






	</div>

</header>