<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/common/business-registration.css">
</head>

<body>
	<main>
		<div class="registration-container">
			<h1>사업자 등록증 제출</h1>
			<p>사업자 등록증을 업로드하고 필요한 정보를 입력해주세요.</p>
			<form action="/business-registration" method="POST">
                <!-- CSRF 토큰 추가 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                
				<div class="form-group">
					<label for="business-name">사업자명</label>
					<!-- 인증된 사용자의 정보를 value 속성에 설정하고, 필드를 읽기 전용으로 만듭니다 -->
					<input type="text" id="business-name" name="business_name" 
						th:value="${#authentication.name}" 
						readonly>
				</div>
				<div class="form-group">
					<label for="registration-number">사업자 등록번호</label>
					<input type="text" id="registration-number" name="businessNumber" 
						placeholder="등록번호를 입력하세요" required>
				</div>
				<div class="form-group">
					<button type="submit">제출하기</button>
				</div>
			</form>
		</div>
	</main>
</body>

</html>
