<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(pHead,pMain)">
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 공통적용-->
	<link rel="icon" type="image/x-icon" href="/images/logo.ico">
	<link rel="stylesheet" href="/css/common/reset.css">
	<link rel="stylesheet" href="/css/common/cmlayout.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/common/jquery-3.7.1.min.js" defer></script>
	<script src="https://kit.fontawesome.com/890a398c47.js" crossorigin="anonymous"></script>

	
	<!--각 html 마다 적용-->
	<th:block th:insert="${pHead}">
	
	
	<title>방잇</title>
</head>

<body>

	<div id="layoutWrap">

		<th:block th:replace="~{/views/common/header}" />

		<th:block th:replace="~{/views/common/nav}" />


		<th:block th:replace="${pMain}" />


		<footer th:replace="~{/views/common/footer}"></footer>





	</div>



</body>


</html>