<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pHead,pMain)">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 공통적용-->
	<link rel="icon" type="image/x-icon" href="/images/logo.ico">
	<link rel="stylesheet" href="/css/common/reset.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<link rel="stylesheet" href="/css/common/chatbot.css">
	<script src="/js/common/chatbot.js" defer></script>
	<link rel="stylesheet" href="/css/common/footer.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
	<!-- GSAP ScrollTrigger Plugin CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
	<script src="https://kit.fontawesome.com/890a398c47.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- 헤더 -->
	<th:block th:replace="~{/views/common/header}" />

	<!-- 메인 콘텐츠 -->
	<th:block th:insert="${pHead}">
		<th:replace="~{ /views/common/footer}">
			<title>방잇</title>
	</th:block>

<body>

	<div id="layoutWrap">

		<!-- 메인 콘텐츠 -->
		<th:block th:replace="${pMain}" />
		
		<!-- Chatbot 삽입-->
		<th:block th:replace="~{/views/chatbot/chatbot}" /> 	

		<!-- 푸터 -->
		<th:block th:replace="~{/views/common/footer}" />

	</div>

</body>


</html>