<header>
	<div class="main-nav-wrap" >
		<div class="logo">
			<h1><a href="/partner"><img alt="방_it" src="/images/logo.png"></a></h1>	
		</div>
		<div class="Search">
			<form action="">
				<label id="Search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
				<input id="Search-bar">		
			</form>		
		</div>	
		<div class="user-information">
		
			<img alt="" src="https://www.filmmakers.co.kr/files/attach/images/2021/05/25/59a2cc7dfc00d60f2697f8d739ccfea2.jpg">
			<p>이유진</p>		
		</div>
		<div class="nav-wrap">
			<nav>
				<ul>
					<li><a href="/partner/placeSave"><i class="fa-solid fa-dog"></i><span>숙소등록</span></a></li>
					<li><a href="/partner/placeList"><i class="fa-solid fa-poo"></i><span>숙소관리/방등록</span></a></li>
					<li><a href="/partner/reservation"><i class="fa-solid fa-cat"></i><span>예약관리</span></a></li>
					<li><a href="/partner/reservation"><i class="fa-solid fa-cat"></i><span>예약현황</span></a></li>
					<li><a href="#"><i class="fa-solid fa-calculator"></i><span>결제 및 정산</span></a></li>
					<li><a href="#"><i class="fa-solid fa-chart-line"></i><span>매출 및 통계</span></a></li>
					<li><a href="#"><i class="fa-solid fa-user-tie"></i><span>관리자 1:1 문의</span></a></li>
				</ul>
			</nav>

			<ul class="gnb">
				<li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>로그아웃</a></li>
				<li><a href="/"><i class="fa-solid fa-house"></i>홈페이지</a></li>
			</ul>
		</div>
	</div>
</header>