<header>

	<div class="main-nav-wrap">
	
		<div class="logo">
			<h1><a href="#"><img alt="방_it" src="/images/logo.png"></a></h1>
		</div>

		<div class="Search">
			<form action="">
				<label id="Search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
				<input id="Search-bar">
			</form>
		</div>
		<div class="user-information">
			<img alt="" src="https://www.filmmakers.co.kr/files/attach/images/2021/05/25/59a2cc7dfc00d60f2697f8d739ccfea2.jpg">
			<p>홍길동</p>
		</div>
		

		<div class="nav-wrap">
			<nav>
				<ul>
					<li><a href="#"><i class="fa-solid fa-user-tie"></i><span>숙소등록</span></a></li>
					<li><a href="#"><i class="fa-solid fa-house"></i><span>숙소관리</span></a></li>
					<li><a href="/admin/partner"><i class="fa-solid fa-users-gear"></i><span>예약관리</span></a></li>
					<li><a href="/admin/user"><i class="fa-solid fa-users"></i><span>사용자관리</span></a></li>
					<li><a href="#"><i class="fa-solid fa-chart-line"></i><span>통계보고서</span></a></li>
					<li><a href="#"><i class="fa-solid fa-file-invoice-dollar"></i><span>전자결제</span></a></li>
				</ul>
			</nav>
		</div>
		<ul class="gnb">
			<li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>로그아웃</a></li>
			<li><a href="#"><i class="fa-solid fa-house"></i>홈페이지</a></li>
		</ul>
	</div>

</header>