@charset "UTF-8";

/* 메인 영역 비율 스타일링 */
.partner-index {
	display: grid;
	grid-template-rows: 8% 89%;
	gap: 20px;
    overflow-y: auto;
}

/* 메뉴바 스타일링 */
.navbar {
	display: flex;
	justify-content:space-around;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	padding: 10px 0;
	align-items: center;
}

/* nav 메뉴바 ul 태그 플렉스 적용 */
.nav-menu {
	display: flex;
}

/* nav 메뉴바 li 태그 플렉스 적용 */
.nav-menu-area {
	display: flex;
	padding: 0 40px;
}

.nav-menu-area a {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 영역을 넘어가는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트 말줄임표 처리 */
	border-radius: 10px;
	color: #333;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s;
}

.nav-menu-area a:hover {
	/* content: attr(title); 툴팁에 표시될 텍스트
	bottom: -1.5em; 툴팁의 위치 조정
	white-space: normal; 툴팁의 텍스트는 줄바꿈 가능 */
	background-color: var(--mian-color);
	border-radius: 10px;
	color: white;
}

/* 슬라이드 아웃 애니메이션 */
.slide-out {
	animation: slideOut 0.5s forwards; /* 슬라이드 아웃 애니메이션 적용 */
}

/* 슬라이드 인 애니메이션 */
.slide-in {
	animation: slideIn 0.5s forwards; /* 슬라이드 인 애니메이션 적용 */
}

/* 슬라이드 아웃 애니메이션 정의 */
@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		opacity: 0;
	}
}

/* 슬라이드 인 애니메이션 정의 */
@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}