<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>소셜 로그인 / 회원가입</title>
	<link rel="stylesheet" href="css/common/login.css">
</head>

<body>
	<div class="login-container">
		<a href="/">
			<img src="/images/logo.png" alt="Logo" class="logo">
		</a>
		<h2>로그인/회원가입</h2>
		<hr>
		<a href="/oauth2/authorization/kakao">
		<button class="social-login kakao">
			<img src="https://img.icons8.com/color/48/000000/kakaotalk.png" alt="Kakao Logo">
			카카오로 시작하기
		</button>
		</a>
		
		<a href="/oauth2/authorization/naver">
			<button class="social-login naver">
				네이버로 시작하기
			</button>
		</a>

		<button class="social-login apple">
			<img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple Logo">
			Apple로 시작하기
		</button>
		<a href="/oauth2/authorization/google">
			<button class="social-login google">
				<img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo">
				구글로 시작하기
			</button>
		</a>

		<button class="social-login email">
			<img src="https://img.icons8.com/color/48/000000/email.png" alt="Email Logo">
			이메일로 시작하기
		</button>

	</div>
</body>

</html>