.mail-wrap{display: flex;justify-content: space-between;}
.mail-nav{width: 15%}
.mail-list{width: 84%}
.cmbutton2{width:100%;box-shadow: 0 4px 10px 0 rgba( 31, 38, 135, 0.37 ); margin-bottom: 10px; padding: 13px 0px; font-size: 17px; font-weight: 600}



.mail-folder-list li{width: 100%; padding: 10px 5px; margin-bottom: 5px; }

.mail-folder-list li>a{display: flex;justify-content: space-between; padding: 10px; border-radius:5px}

.mail-folder-list li:hover > a {
	background: var(--background-color2);box-shadow: 0 4px 10px 0 rgba( 31, 38, 135, 0.37 );
}

.mail-folder-list li>a>span:nth-child(2) {
	display: inline-block; padding: 0px 6px;  background: var(--mian-color); color: #fff; border-radius:5px
}