
<div th:fragment="mailDetailContent">
	<div>
		<ul>
 		<li  th:text="${mailDetail.subject}">메일 제목</li>
 		<li  th:text="${mailDetail.receivedTime}">시간</li>
 		<li> 
 			<span>보낸 사람</span>
 		 	<span th:text="${mailDetail.fromName}">이름</span>
 		 	<span  th:text="|<${mailDetail.fromEmail}>|">이메일</span>
 		</li>
 		<li> 
 			<span>받는 사람</span>
 		 	<span th:text="${mailDetail.toName}">이름</span>
 		 	<span  th:text="|<${mailDetail.toEmail}>|">이메일</span>
 		</li>
		</ul>
	</div>

    
    <!-- 첨부 파일 목록 -->
    <div th:if="${not #lists.isEmpty(mailDetailAttachmentFile)}">
        <p>첨부 파일<p>
        <ul>
            <li th:each="file : ${mailDetailAttachmentFile}">
                <span th:text="${file.fileName}"></span>
                <span th:text="${file.size}"></span>
            </li>
        </ul>
    </div>
    
    <div th:utext="${mailDetail.body}">
    
    </div>
</div>
