<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/adminlayout :: layout(~{::head} ,~{::main} ) }">

<head>
    <title>방잇</title>
    <link rel="stylesheet" href="/css/admin/mail/mail.css">
 <!--    <script src="/js/admin/user/user.js" defer></script> -->
</head>

<body>
    <main class="cmindex">
        <th:block th:replace="~{/views/admin/mail/cmsubnav}" />
        
        <div class="mail-wrap">
        	<section class="mail-nav">
        		<button class="cmbutton2">메일쓰기<i class="fa-regular fa-paper-plane"></i></button>
        		<button class="cmbutton2">메모쓰기<i class="fa-regular fa-pen-to-square"></i></button>
        		<div class="dash">
        			<ul class="mail-folder-list">
        			<li th:each="mailFolder : ${mailFolder}">
        				<a th:text=${mailFolder.folderId} href=`/admin/mail/`>
        				<span th:text="${mailFolder.folderName}"></span>
        				<span th:text="${mailFolder.unreadMailCount}"></span></a>
        			</li>
        		</ul>
        		
        		
        		</div>
        	
        	</section>
        	
        	<section class="dash mail-list">
        		
        	
        	</section>
        
        </div>

	</main>
</body>
</html>