<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user/placeList/placeList.css" >
    <script src="/js/user/placeList/placeList.js" defer></script>
 
</head>
<body>
    <main class="place-list">
    	<div class="contents-wrap">
	    	
	    	<section class="search-options-wrap">
	    		<div class="search-options">
						<div class="search-item">
							<span class="icon">📅</span>
							<div>
								<p>체크인 날짜</p>
								<input type="text" id="checkin-date" class="datepicker" placeholder="날짜 선택">
							</div>
						</div>
						<div class="search-item">
							<span class="icon">📅</span>
							<div>
								<p>체크아웃 날짜</p>
								<input type="text" id="checkout-date" class="datepicker" placeholder="날짜 선택">
							</div>
						</div>
						<div class="search-item">
							<span class="icon">👤</span>
							<div>
								<p>인원</p>
								<div class="guest-picker">
									<button type="button" id="guest-minus">-</button>
									<input type="text" id="guest-count" value="1" readonly>
									<button type="button" id="guest-plus">+</button>
								</div>
							</div>
						</div>
						<div class="search-button">
							<button type="button">예약하기</button>
						</div>
					</div>
	    	
	    	</section>

			<section class="catagori">
				<h2>'서울' 숙소 566개</h2>
				<div class="dash">
					<form action="#" method="get">
						
						<div class="accommodation-options"style="display: flex; flex-direction: column;">
							<p>숙소 유형</p>
							<label><input type="checkbox" name="accommodation" value="hotel"> 호텔</label> 
							<label><input type="checkbox" name="accommodation" value="motel"> 모텔</label> 
							<label><input type="checkbox" name="accommodation" value="pension"> 펜션</label>
							<label><input type="checkbox" name="accommodation" value="resort"> 리조트</label> 
							<label><input type="checkbox" name="accommodation" value="camping">캠핑/글램핑</label> 
							<label><input type="checkbox" name="accommodation" value="guesthouse"> 게스트하우스</label>
						</div>
						
						  <div class="theme-options">
						       <p>숙소 테마</p>
						       <label><input type="checkbox" name="theme" value="breakfast"> 조식포함</label>
						       <label><input type="checkbox" name="theme" value="spa"> 스파</label>
						       <label><input type="checkbox" name="theme" value="pet-friendly"> 반려견동반</label>
						       <label><input type="checkbox" name="theme" value="in-room-smoking"> 객실내흡연</label>
						       <label><input type="checkbox" name="theme" value="in-room-cooking"> 객실내취사</label>
						       <label><input type="checkbox" name="theme" value="couple-pc"> 커플PC</label>
						       <label><input type="checkbox" name="theme" value="free-parking"> 무료주차</label>
						       <label><input type="checkbox" name="theme" value="pickup"> 픽업가능</label>
						     </div>
						<button type="submit">적용</button>
					</form>


				</div>


			</section>


			<section class="place-list-contents">
		
	   				
	    			
	    		<div class="accommodation-wrap ">
	    		
	    			<ul class="accommodation ">
	    				<li class="dash"><a>
	    					<div>
	    						<img alt="" src="https://pix10.agoda.net/hotelImages/14652635/-1/a7855cc933c1bfa1bf9a6b28526e267b.jpg?ce=0&s=414x232&ar=16x9">
	    					</div>
	    					<div>
	    						<ul>
	    							<li>호텔</li>
	    							<li>여수 오션 힐 호텔</li>
	    							<li>여수시 엑스포역</li>
	    							<li>108,000</li>
	    						</ul>
	    					</div>
	    				</a></li>
	    				
	    				<li class="dash"><a>
	    					<div>
	    						<img alt="" src="https://pix10.agoda.net/hotelImages/14652635/-1/a7855cc933c1bfa1bf9a6b28526e267b.jpg?ce=0&s=414x232&ar=16x9">
	    					</div>
	    					<div>
	    						<ul>
	    							<li>호텔</li>
	    							<li>여수 오션 힐 호텔</li>
	    							<li>여수시 엑스포역</li>
	    							<li>108,000</li>
	    						
	    						</ul>
	    					</div>
	    				</a></li>
	    				
	    				<li class="dash"><a>
	    					<div>
	    						<img alt="" src="https://pix10.agoda.net/hotelImages/14652635/-1/a7855cc933c1bfa1bf9a6b28526e267b.jpg?ce=0&s=414x232&ar=16x9">
	    					</div>
	    					<div>
	    						<ul>
	    							<li>호텔</li>
	    							<li>여수 오션 힐 호텔</li>
	    							<li>여수시 엑스포역</li>
	    							<li>108,000</li>
	    						
	    						</ul>
	    					</div>
	    				</a></li>
	    			</ul>
	    		</div>
	    	
	    	
	    	
	    	</section>
	    	
	    	
	    	<section class="price-comparison-wrap">
	    		<div class="banner">
	    		</div>
	    		<ul class="price-comparison ">		
	    				<li class="dash"><a>
	    					<div>
	    						<img alt="" src="https://pix10.agoda.net/hotelImages/14652635/-1/a7855cc933c1bfa1bf9a6b28526e267b.jpg?ce=0&s=414x232&ar=16x9">
	    					</div>
	    					<div>
	    						<ul>
	    							<li>호텔</li>
	    							<li>여수 오션 힐 호텔</li>
	    							<li>여수시 엑스포역</li>
	    							<li>108,000</li>
	    						
	    						</ul>
	    					</div>
	    				</a></li>
	    				
	    				<li class="dash"><a>
	    					<div>
	    						<img alt="" src="https://pix10.agoda.net/hotelImages/14652635/-1/a7855cc933c1bfa1bf9a6b28526e267b.jpg?ce=0&s=414x232&ar=16x9">
	    					</div>
	    					<div>
	    						<ul>
	    							<li>호텔</li>
	    							<li>여수 오션 힐 호텔</li>
	    							<li>여수시 엑스포역</li>
	    							<li>108,000</li>
	    						
	    						</ul>
	    					</div>
	    				</a></li>
	    				
	    			</ul>
	    	
	    	</section>
    	
    	
    	</div>
    
    	
      
    </main>

</body>
</html>