<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
<meta charset="utf-8" />
<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<title>예약 관리</title>
	<link rel="stylesheet" href="/css/user/reservation/reservation.css">
	<script src="/js/user/reservation/reservation.js" defer></script>
</head>

<body>
	<main>
		<div class="reservation-container">
			<h1>예약 확인 및 취소</h1>
			<div class="main-content">
				<!-- 왼쪽 섹션 -->
				<div class="left-section">
					<div class="reservation-info">
						<ul>
							<li class="header">
							<span>숙소명</span> 
							<span>객실명</span> 
							<span>예약일</span>
							<span>예약금액</span> 
							<span>예약상태</span>
							</li>
							<!-- Thymeleaf를 사용하여 예약 목록 반복 -->
							<li th:each="reservation : ${reservations}" class="reservation-item" th:data-reservation-id="${reservation.id}">
							<span th:text="${reservation.placeName}">숙소명</span> 
							<span th:text="${reservation.roomName}">객실명</span> 
							<span th:text="${#temporals.format(reservation.checkInDate, 'yyyy-MM-dd')} + ' ~ ' + ${#temporals.format(reservation.checkOutDate, 'yyyy-MM-dd')}">예약일</span>
							<span th:text="${#numbers.formatDecimal(reservation.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'">예약금액</span>
							<span th:text="${reservation.status.koName}" th:class="${'status-' + reservation.status.name().toLowerCase()}">예약상태</span>
							</li>
						</ul>
					</div>
				</div>

				<!-- 오른쪽 섹션 -->
				
				<div class="right-section" id="reservation-details">
	                <!-- 상세 정보가 여기에 로드됩니다 -->
	                <p>예약을 선택하면 상세 정보가 표시됩니다.</p>
           		</div>
			</div>
	</main>
</body>


</html>